body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: #e0dede;
}

header{
  position: fixed;
  background: #22242A;
  padding: 20px;
  width: 100%;
  height:30px;
}

.right_area{
  padding: 5px;
  float: right;
  font-size: 15px;
  font-weight: 6500;
  color: #dddbdb;
}

.menu{
  color: #dddbdb;
}

.logout_btn{
  padding: 5px;
  background: #19B3D3;
  text-decoration: none;

  margin-top: -30px;
  margin-right: 40px;
  border-radius: 2px;
  /*font-size: 15px;*/
  /*font-weight: 600;*/
  color: #dddbdb;
  transition: 0.5s;
  transition-property: background;
}



.contenedor{
	/*text-align: center;
	font-size: 20px;
	padding: 10px;*/
	margin: 150px auto;
	width: 600px;
}

table{
	background-color: white;
	text-align: left;
	border-collapse: collapse;
	width: 100%;
}

th,td {
	padding: 20px;
}

th {
	background-color: black;
	border-bottom: solid 5px;
	color: white;
}

tr:nth-child(odd) {
	background-color: #ddd;
}
